<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>JLMN Sports - Criar Usuário</title>
</head>
<body>
	<div th:replace="~{menu :: menuLogin}"></div>
	<div class="container">
		<h3 align="center">Criar Usuário</h3>
		<p th:if="${mensagem}" th:text="${mensagem}"></p>
		<form action="/saveUsuario" method="post" th:object="${usuario}">
			<div>
				<input type="hidden" th:field="*{id}" readonly="readonly">
			</div>
			<div>
				<label>Nome:</label> <input type="text" th:field="*{nome}">
				<p th:errors="*{nome}"></p>
			</div>
			<div>
				<label>Senha:</label> <input type="password" th:field="*{senha}">
				<p th:errors="*{senha}"></p>
			</div>
			<div>
				<label>Email:</label> <input type="text" th:field="*{email}">
				<p th:errors="*{email}"></p>
			</div>
			<div>
				<label>Endereço:</label> <input type="text" th:field="*{endereco}">
				<p th:errors="*{endereco}"></p>
			</div>
			<div>
				<label>Contato:</label> <input type="text" th:field="*{contato}">
				<p th:errors="*{contato}"></p>
			</div>
			<div align="center">
				<p>
					<label> <input name="tipo" type="radio" value="Cliente" />
						<span>Cliente</span>
					</label>
					<label> <input name="tipo" type="radio" value="ADM" />
						<span>Adm</span>
					</label>
				</p>
				<p th:errors="*{tipo}"></p>
			</div>
			<div align="center">
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>
		</form>
	</div>
</body>
</html>