<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>JLMN Sports - Login</title>
</head>
<body>
	<div th:replace="~{menu :: menuLogin}"></div>
	<div class="container">
		<h3 align="center">Login</h3>
		<form action="/loginUsuario" method="post">
			<div>
				<label>Nome:</label> <input type="text" name="nome">
			</div>
			<div>
				<label>Senha:</label> <input type="password" name="senha">
			</div>
			<div>
				<label>Email:</label> <input type="text" name="email">
			</div>
			<div>
				<p align="center">
					<label> <input name="tipo" type="radio" value="Cliente" />
						<span>Cliente</span>
					</label>
				</p>
				<p align="center">
					<label> <input name="tipo" type="radio" value="ADM" /> <span>Adm</span>
					</label>
				</p>
			</div>
			<div>
				<p align="center">
					<a href="/altSenha">Esqueceu a Senha?</a>
				</p>
			</div>
			<div align="center">
				<button class="waves-effect waves-light btn" type="submit">Acessar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>
		</form>
	</div>
</body>
</html>