<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>JLMN Sports - Add. Produto</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
		<h1>Cadastrar Artigo</h1>
		<p th:if="${mensagem}" th:text="${mensagem}"></p>
		<form action="/saveArtigo" method="post" th:object="${artigo}">
			<div>
				<input type="hidden" th:field="*{id}"
					readonly="readonly">
			</div>
			<div>
				<label>Nome:</label> <input type="text"
					th:field="*{nome}">
				<p th:errors="*{nome}"></p>
			</div>
			<div>
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>
		</form>
	</div>
</body>
</html>