<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>JLMN - Sports</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
		<h1>Artigos</h1>
		<p th:if="${mensagem}" th:text="${mensagem}"></p>
		<table class="highlight">
			<thead>
				<tr>
					<th>Artigos</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${artigos}">
					<td><a th:href="@{/Artigo/{id}(id=${a.id})}"><span th:text="${a.nome}">Nome</span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>