<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Insert title here</title>
</head>
<body>
	<nav th:fragment="menu">
		<div class="nav-wrapper container">
			<a href="/home" class="brand-logo">JLMN Sports</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/home">Home</a></li>
				<li><a href="/Produtos">List. Produtos</a></li>
				<li><a href="/Usuarios">List. Usuários</a></li>
				<li><a href="/login">Logout</a></li>
			</ul>
		</div>
	</nav>
	<nav th:fragment="menuLogin">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">JLMN Sports</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Cadastrar</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>